<nz-modal [nzWidth]="1200" [nzClosable]="false" [(nzVisible)]="visible" (nzOnCancel)="visible = false">
  <ng-container *nzModalContent>
    <nz-card [nzTitle]="title" [nzExtra]="modalCardTpl" [nzBodyStyle]="{ height: '59vh', 'overflow-y': 'auto' }">
      <div nz-row [nzGutter]="[8, 8]">
        <div nz-col nzSpan="24">
          <nz-segmented [nzOptions]="viewOptions"></nz-segmented>
        </div>
      </div>
      <form nz-form [formGroup]="form">
        <ng-container formArrayName="tasks">
          <div nz-row [nzGutter]="[8, 8]" *ngFor="let taskFormGroup of taskFormArray.controls; let i = index">
            <ng-container [formGroupName]="i">
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <nz-select nzPlaceHolder="Mức độ" formControlName="level">
                      <nz-option *ngFor="let o of levelOptions" [nzValue]="o.value" [nzLabel]="o.label" nzCustomContent>
                        <nz-badge [nzColor]="o.color" nzStatus="default"/>
                        <span>{{o.label}}</span>
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <input nz-input placeholder="Tiêu đề" formControlName="title"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="9">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <input nz-input placeholder="Nội dung chi tiết" formControlName="description"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <label nz-checkbox formControlName="repeat">Lặp?</label>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <nz-select nzPlaceHolder="Số lần lặp" formControlName="repeatNumber">
                      <nz-option *ngFor="let o of repeatOptions" [nzValue]="o.value" [nzLabel]="o.label"/>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <label nz-checkbox formControlName="done">Xong?</label>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="2">
                <nz-form-item>
                  <nz-form-control nzErrorTip="error!">
                    <nz-rate [nzCharacter]="rateIconTpl" [nzTooltips]="['Tệ', 'Tạm', 'Tốt']" formControlName="rate"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="1">
                <nz-form-item>
                  <nz-form-control>
                    <button nz-button nzType="primary" nzShape="circle" nzSize="small" nzDanger (click)="removeTask(i)">
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </form>
    </nz-card>
  </ng-container>
</nz-modal>

<ng-template #modalCardTpl>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" nzShape="circle" nzSize="small" (click)="addTask()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </nz-space>
</ng-template>
<ng-template #rateIconTpl let-index>
  <ng-container [ngSwitch]="index">
    <span nz-icon nzType="star" nzTheme="fill" *ngSwitchCase="0"></span>
    <span nz-icon nzType="star" nzTheme="fill" *ngSwitchCase="1"></span>
    <span nz-icon nzType="star" nzTheme="fill" *ngSwitchCase="2"></span>
  </ng-container>
</ng-template>
